### Release

The three year target for Release (high level [roadmap](https://gitlab.com/groups/gitlab-org/-/roadmap?scope=all&utf8=✓&state=opened&label_name[]=devops%3A%3Arelease); [SMAU (Stage Monthly Active Users) dashboard](https://app.periscopedata.com/app/gitlab/451468/Release-Stage-Dashboard)) is:

- Support mature organizations as the provider of choice for navigating cross-repository, multi-cloud complex releases.
- Organically capture all the necessary information about changes to production for an audit or compliance event as a byproduct of using Releases.
- Simplify the day to day jobs for those enduring the market shift of a centralized Release Management role into a shared, distributed responsibility across several groups (each with varying levels of technical expertise) by providing tools to effectively manage releases naturally in GitLab.
- Enable common deployment targets that just work - point us to your code and your environment, and we'll automatically connect the dots. We'll do this beyond just Kubernetes and support Azure, Google Cloud Platform, AWS, alongside mobile marketplaces and other app stores.
- Equally support the orchestration of releases in the web, API and YAML to meet users where they are at in their DevOps Journey. 
- Deliver on the promise of [Progressive Delivery](/direction/release/progressive_delivery) by offering a market-leading solution.
- Stop/Rollback deployment rollout upon predefined error thresholds. 

The details of how we'll achieve different elements of this can be found in the individual category pages below:

<%= partial("direction/categories-content", :locals => { :stageKey => "release" }) %>
